

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

nav a{
    color: #333;
}

nav{
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav i{
    margin-right: 8px;
}

nav .logo{
    width: 110px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    margin-right: 20px;
}

nav ul.left-menu{
    flex: 1;
}

nav ul.right-menu{
    padding-right: 5px;
}

nav ul.right-menu li:first-child{
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px;
    font-weight: 500;
}

nav ul.right-menu li:first-child a{
    color: #000;
}

nav ul.right-menu li:last-child{
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    padding-right: 30px;
    border-right: 2px solid black;
}

nav ul.left-menu li:last-child a:hover, ul.right-menu li a:hover{
    border-bottom:  2px solid #000;
    padding-bottom: 2px;
}

nav ul.right-menu li:first-child a:hover{
    border-bottom: #000 solid 1px;
    padding-bottom: 0;
}


/* Showcase */

.showcase .top{
    background: rgb(49, 93, 224);
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 15px;
}

.showcase .top p{
    font-weight: 500;
    display: inline-block;
}

.showcase .top a{
    margin-right: 20px;
    color: #fff;
}

.showcase .top i{
    margin-right: 5px;
}

.showcase .top a:hover .a{
    border-bottom: 2px solid #fff;
}

.showcase .top a:hover i{
    position: relative;
    right: 3px;
    transition: ease-in-out;
}




.showcase .content{
    height: 80vh;
    background: url('showcase.jpg') no-repeat center/cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: 17px;
}


.showcase .content .title h1{
    font-size: 2.9rem;
    font-weight: 500;
    line-height: 1.5;
}

.showcase .content .title p{
    font-weight: 500;
}

.showcase .content ul.buttons{
    display: flex;
    justify-content: center;
}

.showcase .content ul.buttons li{
    background: rgb(49, 93, 224);
    color: #fff;
    padding: 10px 70px;
    border: 2px solid #fff;
    margin: 20px 0  20px 30px;

}

.showcase .content ul.buttons li:hover{
    box-shadow: 0 1px 15px rgba(0, 0, 0, .3);
    background: rgb(27, 70, 201);
    transition: 500ms ease-in-out;
    cursor: pointer;
}

.showcase .content ul.buttons a{
    color: #fff;
    border: 0;
}

.showcase .content a{
    color: rgb(49, 93, 224);
    border-bottom: 1px solid rgb(49, 93, 224);
}



/* Showcase2 */


.section2 .inner{
    width: 70%;
    margin:  auto;
}

.section2 p{
    margin: 100px 0;
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
}

.section2 video{
    width: 100%;
    margin: 10px auto 60px auto;
}



/* Section3 */

.section3 {
    background: #f4f4f4;
    padding: 100px;
}

.section3 p{
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 40px;
}

.section3 .boxes{
    display: flex;
    justify-content: space-around;
}

.section3 .box{
    line-height: 2;
    text-align: center;
    width: 20%;
}

.section3 h3{
    font-size: 1.5rem;
    font-weight: 500;
}

.section3 i{
    margin-right: 10px;
}

.section3 a{
    color: rgb(49, 93, 224);
    font-size: 17px;
}

.section3 .a:hover{
    border-bottom: 2px solid rgb(49, 93, 224);
    transition: 80ms ease-in-out;
}

.section3 a:hover i{
    margin-right: 20px;
    transition: 500ms ease-in-out;
}



/* Follow */

.follow{
    display: flex;
    justify-content: flex-end;
    padding: 70px;
    font-size: 1.5rem;
    color: #000;
    font-weight: 500;
}

.follow a{
    color: #000;
}

.follow i, p{
    margin-left: 30px;
}

.follow i:hover{
    background: #f4f4f4;
    cursor: pointer;
}


/* Footer */

footer{
    background: #f4f4f4;
    padding: 30px;
}

footer ul li{
    line-height: 2;
    text-align: end;
}

footer ul li a{
    color: rgb(78, 78, 78);
    font-size: 12px;
}

footer .ul-up li:first-child a{
    font-size: 1.1rem;
    font-weight: 450;
}

footer .ul-up{
    display: flex;
    justify-content: space-around;
}


footer .ul-down ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

footer .ul-down li{
    margin-left: 30px;
}

footer .ul-down li:last-child{
   flex: 1;
   text-align: end;
}